<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [33]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/asp/Downloads/.conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: six in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in /home/asp/.local/lib/python3.10/site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython-sql) (2.0.5.post1)
Requirement already satisfied: sqlparse in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: jedi>=0.16 in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pexpect>4.3 in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: backcall in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: decorator in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: stack-data in /home/asp/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: wcwidth in /home/asp/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/asp/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/asp/Downloads/.conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/asp/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /home/asp/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /home/asp/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [37]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL script to create the 'spacex' table
with open('spacex.sql', 'r') as f:
    create_table_sql = f.read()
    cursor.executescript(create_table_sql)

# Execute a sample SQL query to retrieve data from the 'spacex' table
cursor.execute('SELECT * FROM spacex')
results = cursor.fetchall()

# Print the results of the SQL query
for row in results:
    print(row)

# Close the connection to the database
conn.close()

OperationalError: table spacex already exists


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [5]:
SELECT *
FROM spacex
WHERE launch_site LIKE 'CCA%'
LIMIT 5;

SyntaxError: invalid syntax (1013004872.py, line 1)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
SELECT SUM(payload_mass_kg) AS total_payload_mass_kg
FROM spacex
WHERE customer = 'NASA (CRS)' AND payload_mass_kg IS NOT NULL;

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
SELECT AVG(payload_mass_kg) AS avg_payload_mass_kg
FROM spacex
WHERE booster_version = 'F9 v1.1' AND payload_mass_kg IS NOT NULL;

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
SELECT MIN(launch_date_utc) AS first_successful_landing_date
FROM spacex
WHERE landing_outcome = 'Success (ground pad)';

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
SELECT booster_version, payload_mass_kg, landing_outcome
FROM spacex
WHERE landing_outcome LIKE 'Success (drone ship)%' 
    AND payload_mass_kg > 4000 
    AND payload_mass_kg < 6000;

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
SELECT mission_outcome, COUNT(*) AS count
FROM spacex
GROUP BY mission_outcome;

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
SELECT booster_version, payload_mass_kg
FROM spacex
WHERE payload_mass_kg = (SELECT MAX(payload_mass_kg) FROM spacex)

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [ ]:
SELECT landing_outcome, booster_version, launch_site
FROM spacex
WHERE YEAR(launch_date_utc) = 2015 AND landing_outcome LIKE 'Failure (drone ship)%';

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
SELECT landing_outcome, COUNT(*) AS count
FROM spacex
WHERE launch_date_utc BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY landing_outcome
ORDER BY count DESC;

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>